<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="conStr" value="server=10.47.180.166;database=Rest;uid=1rest1234;pwd=19bt165Xrest"/><!--主库-->
    <add key="conStrRead" value="server=10.27.163.189;database=Rest;uid=1rest1234;pwd=19bt165Xrest"/><!--读库-->
    <add key="RatesIncrementInterval" value="60"/> <!--秒-->
    <add key="RatesIncrementAdvanceInterval" value="30"/> <!--秒-->
    <add key="isup" value="0"/><!--1上线 0下线-->
    <add key="appName" value="第二帐号"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
